.view-kitch-img {
    position: relative;
    background-image: url(/static/media/Banner-3.e94c13a1.png);
    height: 500px;
    resize: both;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #353333;
    width: 100%;
}
.form-search {
    position: absolute;
    top: 40%;
    padding: 20px;
    width: 100%;
    align-items: center;
    color: #fff;
    margin: 0 auto;
}
.form-search-inner {
    margin: 0 auto;
    width: 40%;
    text-align: center;
    justify-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.view-kitch-txt {
    position: absolute;
    width: 908px;
    height: 30px;
    left: 290px;
    top: 220px;
    font-family: Lato;
    font-style: bold;
    font-weight: 600;
    font-size: 32px;
    line-height: 30px;
    /* identical to box height */
    color: #FFFFFF;
}

.view-search {
    position: absolute;
    width: 420px;
    height: 46px;
    left: 500px;
    top: 399px;
    background: rgba(255, 252, 252, 0.9);
    border-radius: 10px;
    border: none;
    outline: none;
}

.view-search-btn {
    position: absolute;
    width: 83px;
    height: 42px;
    left: 910px;
    top: 410px;
    /* left: 0%;
    right: 0%;
    top: 0%; */
    bottom: 0%;
    background: #D7210A;
    border-radius: 10px;
    cursor: pointer;
}

.view-search-btn-txt {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 10px;
    /* identical to box height */
    color: #FFFFFF;
}

.banner-text {
    font-size: 20px;
    margin-bottom: 30px;
}
.form-text {
    width: 70%;
}
.custom-group-input .searchIcon {
    background: #fff;
    border-radius: .25rem 0 0 .25rem;
    border: 1px solid #fff;
}
.custom-group-input .searchForm {
    border: 1px solid #fff;
    border-left: 0px;
}
.custom-group-input .searchForm:focus {
    border-color: #fff;
    box-shadow: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
    
  }
  /*
  Landscape orientation
  */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
  }
  /*
  Ipad Portrait
  */
  @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1) {
    
  }
  /*
  Ipad Landscape
  */
  @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1) {
    
  }
  /*
  Mobile below 768
  */
  @media (max-width: 767px) {
    
  }
  
  @media (min-width: 480px) and (max-width: 767px) and (orientation:landscape){
    
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .form-text {
        width: 100%;
    }
    .form-search-inner {
        width: 100%;
    }
  }
  
  @media (max-width: 479px) {
  
  }
